<div class="Login-container">
    <div class="row">
        <div class="col-lg-5">

            <div class="reg-div">
                <img src="~/images/logo.png" class="logo-login" />
                <div class="text-center">

                    <h3>@Optic.Register</h3>
                </div>

                <label>@Optic.Name</label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-user"></i>
                    <input placeholder="Name">
                </div>

                <label>@Optic.PhoneNumber</label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-phone"></i>
                    <input placeholder="Phone Number">
                </div>

                <label> @Optic.Password</label>
                <div class="input-wrapper ">
                    <i class="fa-solid fa-eye" id="show-pass"></i>
                    <input type="password" class="two-padding input-pass" placeholder="password">
                </div>

                <div class="form-check forget-password">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                        @Optic.AgreeTo <a href="#" class="terms-Conditions">@Optic.TermsAndConditions</a>
                    </label>
                </div>

                <div class="text-center">
                    <a href="Register-2.html" class="login-btn">@Optic.Register</a>
                </div>
                <p class="p-account">@Optic.AlreadyHaveAccount <a href="Login.html"> @Optic.Login</a></p>

            </div>
        </div>
    </div>

    <img src="~/images/login.png" class="login-pic" />

</div>

