@model List<PatientRightVM>
@{
    Layout = "_Layout";
}

<div class="inner-page">
    <a asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <table id="table_id" class=" table-pages" style="font-size:13px;">
        <thead>


            <tr>
                <th style="max-width:75px ;">@Global.NameEn</th>
                <th style="max-width:75px ;">@Global.NameAr</th>
                <th style="max-width:25px ;">@Optic.Order</th>
                <th style="max-width:50px ;"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var PatientRight in Model)
                {
                    var id = "patientRight" + PatientRight.Id;
                    <tr id="@id">
                        <td>@PatientRight.TitleEn</td>
                        <td>@PatientRight.TitleAr</td>
                        <td>@PatientRight.Order</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@PatientRight.Id" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></a> 
                            <a href="Events-inner.html" class="btn btn-dark btn-sm"><i class="fa-regular fa-eye"></i></a>
                            <button class="btn btn-danger btn-sm" onclick="deleteDetail('PatientRight','Delete',@PatientRight.Id,'@id')"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <div class="text-end">
        <button class="save-btn"><i class="fa-solid fa-check"></i> Save </button>

        <button class="cancel-btn"> <i class="fa-solid fa-xmark"></i> Cancel </button>


    </div>




</div>
