@{
    var IsArabic = (bool)ViewBag.IsArabic;
}
<div class="row">
    <div class="col-lg-6 ">
        <ul class="conatct-ul">
            <li><a href="#" class="a-header"><i class="fa-solid fa-location-dot"></i> Al-Jabriah, Yanbu 46455</a></li>
            <li>
                <a href="tel:+966143926444" class="a-header"><i class="fa-solid fa-phone"></i> (+966) 14 392 6444</a>
            </li>

        </ul>

    </div>
    <div class="col-lg-6">

        <ul class="login-ul">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#Complaint-modal"> @Optic.Complaint</a></li>

            <li><a onclick="editCardItem('','Home', 'Survey', 'Surveymodal', 'SurveymodalDialog')" @*data-bs-toggle="modal" data-bs-target="#Survey-modal"*@> @Optic.Survey</a></li>
            @if(User.Identity.IsAuthenticated)
            {
                <li class="disabled-items"><a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-user-check"></i> @User.GetUserName()</a></li>
                @if(IsArabic)
                {
                    <li><a asp-action="ChangeLanguage" asp-controller="Home" asp-route-Lang="ar-EG"> <img src="~/images/ar.png" /></a></li>
                }
                else
                {
                    <li><a asp-action="ChangeLanguage" asp-controller="Home" asp-route-Lang="ar-EG"> <img src="~/images/en.png" /></a></li>
                }
            }
            else
            {
                <li class="disabled-items"><a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-user-check"></i> @Global.Login / @Global.Register</a></li>
                @if(IsArabic)
                {
                    <li><a asp-action="ChangeLanguage" asp-controller="Home" asp-route-Lang="ar-EG"> <img src="~/images/ar.png" /></a></li>
                }
                else
                {
                    <li><a asp-action="ChangeLanguage" asp-controller="Home" asp-route-Lang="ar-EG"> <img src="~/images/en.png" /></a></li>
                }
            }
            
        </ul>
        
    </div>

</div>