<div class="inner-menu">
    <img src="~/images/logo.png" class="logo-Anasari" />

    <nav class="magic-line-menu-pill menu_main">
        <ul id="menu">
            <li><a asp-controller="Home" asp-action="Index" class="active">@Global.Home</a></li>
            <li>
                <a asp-controller="Home" asp-action="AboutUs">@Optic.Aboutus</a>
                <ul>
                    <li><a asp-controller="Home" asp-action="Overview">@Optic.Overview </a></li>
                    <li><a asp-controller="Home" asp-action="Mission">@Optic.OurMissionVisionValues </a></li>

                    <li><a asp-controller="PatientRight" asp-action="Index">@Optic.PatientRight </a></li>
                    <li><a asp-controller="FuturePlan" asp-action="Index">@Optic.FuturePlan </a></li>
                    <li><a asp-controller="Testiminie" asp-action="Index">@Optic.Testiminies  </a></li>
                    
                </ul>
            </li>

            <li>
                <a asp-controller="Department" asp-action="Index">@Optic.Specialties &  @Optic.Centers</a>
                <ul>
                    <li><a asp-controller="Department" asp-action="Index" asp-route-type="@Speciality.Department">@Optic.Specialties </a></li>
                    <li><a asp-controller="Department" asp-action="Index" asp-route-type="@Speciality.Center">@Optic.Centers</a></li>
                </ul>
            </li>
            <li><a asp-controller="Doctor" asp-action="Index">@Optic.Doctors</a></li>
            <li><a asp-controller="Blog" asp-action="Index">@Optic.Blogs</a></li>
            <li><a asp-controller="Event" asp-action="Index">@Optic.Events</a></li>
            <li><a asp-controller="Offer" asp-action="Index">@Optic.Offers</a></li>
            <li><a asp-controller="Home" asp-action="Contact">@Optic.ContactUs</a></li>
        </ul>
    </nav>
    

@*    <a href="booking-1.html" class="a-Appointment"><i class="fa-solid fa-calendar-days"></i> Appointment</a>
*@
</div>