@model OverViewVM
@{
    Layout = "_Layout";
}

<div class="inner-page">
    <a asp-action="Create" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <table id="table_id" class=" table-pages" style="font-size:13px;">
        <thead>


            <tr>
                <th style="max-width:75px ;">@Global.NameEn</th>
                <th style="max-width:75px ;">@Global.NameAr</th>
                <th style="max-width:25px ;">@Optic.Order</th>
                <th style="max-width:50px ;"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.TitleEn</td>
                <td>@Model.TitleAr</td>
                <td>@Model.Order</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
               </td>
            </tr>

        </tbody>
    </table>

</div>
