@model FuturePlanVM
@{
    Layout = "_Layout";
    var FuturePlans = ViewBag.FuturePlans as List<FuturePlanVM>;
}


<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(/images/rheumatism.jpg);">
    </div>

    <h3>@Model.TitleEn</h3>
    <p>
        @Model.DescriptionEn
    </p>

</div>

<div class="glider-contain">
    <div class="glider Doctor-Slider">
        @if (FuturePlans != null)
        {
            @foreach (var department in FuturePlans)
            {
                <div>
                   <div class="padding-dep">
                       <a asp-controller="FuturePlan" asp-action="Details" asp-route-id="@department.Id" class="item-doctor ">
                            <div class="img-doctor" style="background-image: url(/images/FuturePlans/@department.ImageUrl);"></div>
                           <h4>@department.TitleEn</h4>
                           <p>
                              @department.DescriptionEn
                           </p>
                       </a>
                   </div>
                </div>
            }
        }
        
        
    </div>

    <button aria-label="Previous" class="glider-prev Doctor-prev">«</button>
    <button aria-label="Next" class="glider-next Doctor-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

