@model List<OfferVM>
@{
    Layout = "_Layout";
}

<div class="inner-page">
    <a href="Offers-inner.html" class="btn-add-table" style="min-width: 130px; margin-bottom: 20px;"><i class="fa-solid fa-plus"></i> add New</a>

    <table id="table_id" class=" table-pages" style="font-size:13px;">
        <thead>


            <tr>
                <th style="max-width:75px ;">@Global.NameEn</th>
                <th style="max-width:75px ;">@Global.NameAr</th>
                <th style="max-width:25px ;">@Optic.PriceBefore</th>
                <th style="max-width:25px ;">@Optic.PriceAfter</th>
                <th style="max-width:50px ;"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var offer in Model)
                {
                    <tr>
                        <td>@offer.TitleEn</td>
                        <td>@offer.TitleAr</td>
                        <td>@offer.PriceBefore</td>
                        <td>@offer.PriceAfter</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@offer.Id" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></a> 
                            <a href="Events-inner.html" class="btn btn-dark btn-sm"><i class="fa-regular fa-eye"></i></a> 
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeletePop"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <div class="text-end">
        <button class="save-btn"><i class="fa-solid fa-check"></i> Save </button>

        <button class="cancel-btn"> <i class="fa-solid fa-xmark"></i> Cancel </button>


    </div>




</div>
