@model List<UserVM>
@{
    Layout = "_Layout";
    var Departments = ViewBag.Departments as List<DepartmentVM>;

}

<!-- ----------service-------------- -->
<section class="service-sec">
  <div class="container">
        <h2 class="text-center">
            @Global.MeetOurExperts
    </h2>
    <p class="p-service text-center">
            @Global.MeetOurExpertsDescription
  </p>

<div class="Service-back">

  <div class="glider-contain">
    <div class="glider Service-Slider">
         @if (Departments != null)
         {
             @foreach (var department in Departments)
             {
                  <div>
                      <div class="category-Filter">
                          <input class="" type="radio" name="Filter" value="" id="Filter-@department.Id" checked>
                          <label class="service-item " for="Filter-@department.Id">
                              <div class="icon-service"><img src="~/images/service-icon.png" /></div>
                               <h2>@department.TitleEn </h2>
                              <p>
                                  @department.DescriptionEn
                              </p>
                          </label>
                      </div>
                  </div>
             }
         }
    
    </div>
  
    <button aria-label="Previous"  class="glider-prev Service-prev">«</button>
    <button aria-label="Next"  class="glider-next Service-next">»</button>
    <div role="tablist" class="dots"></div>
  </div>

</div>
      



  </div>

</section>


<!-- ----------department-------------- -->
<section class="Doctors-inner-sec">
    <div class="text-center">
        <img src="~/images/Radiology.png" />
        <h3>Radiology</h3>
    </div>
    <br />
    <div class="container">
        <div class="row">
            @if(Model != null)
            {
                foreach (var doctor in Model)
                {
                    <div class="col-lg-3 col-md-4">
                        <div class="item-slider-doctor doctor-items">
                            <div class="doctor-pic" style="background-image: url(/images/Users/@doctor.Image);"></div>

                            <div class="doc-back">

                                <h6>@doctor.FullName</h6>

                                <p>@doctor.DepartmentName</p>

                                <i class="fa-solid fa-calendar-days"></i>
                                <div class="icon-doctor"><img src="~/images/spcialist-icon.png"></div>
                            </div>
                        </div>
                    </div>
                }
            }
            
        </div>

    </div>
</section>


<h2 class="text-center">Make an appointment today !</h2>
<p class="p-service text-center">
    Lorem Ipsum is simply dummy text of the printing and
    typesetting industry. Lorem Ipsum has been.
</p>

<div class="appointment-div">
    <div class="container">
        <div class="content-appointment">
            <div class="col-lg-7 col-md-6">

                <h3 class="h3-about">Very Easy Steps</h3>
                <p>Lorem Ipsum is simply dummy text of the printing </p>
                <br />
                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-user-doctor"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>Choose Clinic & Doctor</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>

                </div>

                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-calendar-days"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>Choose Date & Time</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

                    </div>

                </div>

                <div class="position-relative item-about">
                    <div class="icon-appointment">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="appoint-div">

                        <h5>book your date</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>

                    </div>

                </div>
                <div class="text-center">
                    <a href="#" class="btn-message">Book Now !!</a>
                </div>

            </div>


            <img src="~/images/arrow.png" class="img-arrow" />
            <img src="~/images/ap-doctor.png" class="img-doc" />
        </div>
    </div>


</div>

