@model BlogVM

@{
    var Blogs = ViewBag.Blogs as List<BlogVM>;
    Blogs = Blogs?.Where(s => s.Id != Model.Id).ToList();
    Layout = "_Layout";
}


<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(~/images/rheumatism.jpg);">
    </div>

    <h3>@Model.Title</h3>

    <p>
        @Model.Description
    </p>

    <div class="row">
        <div class="offset-md-9 col-md-3">
            <div class="blog-inner-details">
                <div class="img-blog-doc" style="background-image:url(~/images/doc1.png) ;">
                </div>
                <h6>Dr., @Model.DoctorName</h6>
                <p>@Model.DepartmentName</p>
                <p><i class="fa-solid fa-calendar-days"></i> @Model.CreationDate.ToShortDateString()</p>
            </div>
        </div>
    </div>

</div>

<div class="glider-contain">

    <ul class="glider Doctor-Slider blogs-ul">
        @if(Blogs != null)
        {
            @foreach (var blog in Blogs)
            {
                <li>
                    <div class="padding-dep position-relative">
                        <a asp-action="Details" asp-controller="Blog" asp-route-id="@blog.Id">
                            <div class="position-relative">
                                <div class="img-blog" style="background-image:url(~/images/Blogs/@blog.ImageUrl) ;"></div>
                                <div class="absolute-blogs container-fluid">
                                    <div class="row">
                                        <div class="col-7"><i class="fa-solid fa-calendar-days"></i> @blog.CreationDate.ToShortDateString()</div>
                                        <div class="col-5 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                                    </div>
                                </div>
                            </div>

                            <h4>@blog.Title</h4>
                            <h6>Dr., @blog.DoctorName</h6>
                            <hr>
                            <p class="p-blogs">@blog.Description</p>
                        </a>


                    </div>
                </li>
            }
        }
        
        
    </ul>
    <button aria-label="Previous" class="glider-prev Doctor-prev">«</button>
    <button aria-label="Next" class="glider-next Doctor-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

