@model List<BlogVM>
@{
    var IsArabic = (bool)ViewBag.IsArabic;
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-3">

        <div class="exhibtion-div">
            <input class="form-control input-search" placeholder="search...">
        </div>

        <button class="btn back-red btn-search-result"><i class="fas fa-search"></i> Search</button>
        <h3 class="h3-blog">adv</h3>

        <img src="~/images/adv.jpg" class="adv" alt="">
        <img src="~/images/adv.jpg" class="adv" alt="">


        <h3 class="h3-blog">Social</h3>
        <ul class="social-media">

            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fab fa-snapchat"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>

        </ul>


    </div>

    <div class="col-md-9">

        <div id="paging_container8">

            <ul class="row blogs-ul content">
                @foreach (var blog in Model)
                {
                    <li class="col-lg-4 col-md-6 li-blogs">
                    <div class="img-doc" style="background-image:url(images/doc1.png);"></div>
                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">
                        <div class="position-relative">
                                <div class="img-blog" style="background-image:url(images/Blogs/@blog.ImageUrl) ;"></div>
                            <div class="absolute-blogs container-fluid">
                                <div class="row">
                                    <div class="col-6"><i class="fa-solid fa-calendar-days"></i> @blog.CreationDate.ToShortDateString()</div>
                                    <div class="col-6 text-end"><i class="fa-solid fa-eye"></i> 555</div>

                                </div>
                            </div>
                        </div>

                         <h4>@blog.Title</h4>
                        <h6>Dr., @blog.DoctorName</h6>
                        <hr>
                        <p class="p-blogs">@blog.Description</p>
                    </a>

                </li>
                }
                
                
            </ul>
@*            <div class="page_navigation"></div>
*@
        </div>
    </div>

</div>

