
<!-- ----------department-------------- -->
<section class="department-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 ">
                <h2>
                    @Global.WeOfferComplete
                    @Global.HealthcarePrograms
                    <br /> <b>@Global.OurSpecialtiesCenters</b>
                </h2>
                <p>
                    @Global.OurSpecialtiesCentersDescription
                </p>
                <a asp-controller="Department" asp-action="Index" asp-route-type="@Speciality.Center" class="a-more">@Global.LearnMore <i class="fa-solid fa-angle-right"></i></a>

            </div>

            <div class="col-lg-5 col-md-6 offset-lg-2 offset-md-1 ">
                <img src="images/depart.png" class="img-depart" />
            </div>


        </div>

    </div>
</section>
