@model EventVM

@{
    var Events = ViewBag.Events as List<EventVM>;
    Layout = "_Layout";
}

<div class="inner-div-depart">
    <div class="img-inner-department" style="background-image: url(~/images/rheumatism.jpg);">
    </div>

    <h3>@Model.Title</h3>
    <p>
        @Model.Description
    </p>
    <br />

    <ul class="light-box-cer">
        <li><a href="~/images/cr1.jpg" data-imagelightbox="g" data-ilb2-caption="Sunset in Tanzania"><img src="~/images/cr1.jpg" class="tump-img"></a></li>
        <li><a href="~/images/cr2.jpg" data-imagelightbox="g" data-ilb2-caption="Traffic jam in Tanzania"><img src="~/images/cr2.jpg" class="tump-img"></a></li>
        <li><a href="~/images/cr2.jpg" data-imagelightbox="g" data-ilb2-caption="Traffic jam in Tanzania"><img src="~/images/cr2.jpg" class="tump-img"></a></li>
        <li><a href="~/images/cr2.jpg" data-imagelightbox="g" data-ilb2-caption="Traffic jam in Tanzania"><img src="~/images/cr2.jpg" class="tump-img"></a></li>

    </ul>

</div>

<div class="glider-contain">
    <div class="glider Event-Slider">
        <div>
            <div class="padding-dep" style="width:100% ;">

                <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" class="view view-fifth">
                    <img src="~/images/Events/@Model.ImageUrl">
                    <div class="caption-pro">@Model.Description</div>

                    <div class="mask">
                        <h2>@Model.Title</h2>
                        <p>@Model.Description</p>
                    </div>
                </a>
            </div>
        </div>

        @if(Events != null)
        {
            @foreach (var item in Events)
            {
                <div>
                    <div class="padding-dep" style="width:100% ;">

                        <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" class="view view-fifth">
                            <img src="~/images/Events/@item.ImageUrl">
                            <div class="caption-pro">@item.Description</div>

                            <div class="mask">
                                <h2>@item.Title</h2>
                                <p>@item.Description</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
        
    </div>

    <button aria-label="Previous" class="glider-prev Event-prev">«</button>
    <button aria-label="Next" class="glider-next Event-next">»</button>
    <div role="tablist" class="dots"></div>
</div>


